{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
        {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.0.0-pre.1"}}},
        {prometheus, {git, "https://github.com/deadtrickster/prometheus.erl.git", {tag, "v4.2.0" }}},
        {jiffy, {git, "https://github.com/davisp/jiffy", {tag, "0.14.11" }}},
        {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.2.2"}}},
        {reunion, {git, "https://github.com/snar/reunion", {branch, "master"}}}
]}.